* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

.content-container{
  padding: 0 16px;
  display: flex;
  justify-content: center;
}
.start-content-container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  max-width: 600px;
}
.question-container{
  margin-bottom: 10px;
  width: 100%;
  /* text-align: left; */
}
.question-title{
  margin-bottom: 20px;
}
.answer{
  margin-right:30px;
  color: rgba(41, 50, 100, 1);
  background-color: transparent;
  border: 1px solid #4D5B9E;
  font-size: 1rem;
  border-radius: .3rem;
  margin-right: .6rem;
  margin-bottom: .2rem;
  padding: 2px 8px;
}
button:focus {
  outline: none;
}

.end-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.check{
  color: white;
  background: #4D5B9E;
  border-radius: 10px;
  border: none;
  padding: 14px 24px;
}

.score{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 1rem;
}

.selected{
  background-color: #D6DBF5;
}

#correct{
  background-color: #94D7A2;
  border: 1px solid #94D7A2;
}
#incorrect{
  background-color: #F8BCBC;
  border: 1px solid #F8BCBC;
}
#not_selected{
  color: rgba(41, 50, 100, .4);
  border: 1px solid rgba(41, 50, 100, .4);
}


/* /////////Menu page/////// */

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;
  margin-top: 110px;
}

.page-title{
  color: lightslategrey;
  font-size: 50px;
  margin-bottom: 5px;
}

.page-description{
  color: rgba(41, 50, 100, 1);
}
.start-button{
  color:white;
  border:none;
  background-color: #4D5B9E;
  padding: 16px 32px;
  border-radius: 10px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.loading{
margin-top: 250px;
}
@keyframes spinner {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
.loading-spinner {
width: 100px;
height: 100px;
border: 10px solid #f3f3f3; /* Light grey */
border-top: 10px solid #383636; /* Black */
border-radius: 50%;
animation: spinner 1.5s linear infinite;
}